<!-- Adapted from https://codesandbox.io/s/kp31n -->

<html>
<head>
    <title>My First Page</title>
    {% include 'template/head.html' %}
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='/lib/trello.css')}}"/>
        
</head>

<body>
    {% include 'template/backend-header.html' %}

    <div id="container"></div>

    <div id="container-main"></div>

    <div id="card-edit">
        <div id="card-edit-close"><img src="{{url_for('static', filename='/lib/images/cross.png')}}"></div>
        <form>
            <div id="card-edit-inputs">
                <div>
                    <label>Title:</label>
                    <input id="card-edit-title">
                </div>
            </div>
            <div>
                <input id="card-edit-delete" type="button" value="Delete">
                <input id="card-edit-submit" type="submit" value="Save">
            </div>
        </form>
    </div>

    <script type="text/javascript" src="{{url_for('static', filename='/lib/js/add-card.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='/lib/js/add-list.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='/lib/js/card-delete.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='/lib/js/card-edit.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='/lib/js/card-title-form.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='/lib/js/card.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='/lib/js/list-title-form.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='/lib/js/list.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='/lib/js/trello-main.js')}}"></script>


    <script type="text/javascript">
        function proposalsLoad() {
            document.getElementById("trello-title-board").innerHTML = "<center>Staff view";
            addListTrelloFromName(currentBoard, "Pending")
            addListTrelloFromName(currentBoard, "Rejected")
            addListTrelloFromName(currentBoard, "Accepted")
            addListTrelloFromName(currentBoard, "Completed")


            {% for row in data %}

            var list;
            if ("{{row["status"]}}" == "pending") {
                list = currentBoard.lists[0];
            } else if ("{{row["status"]}}" == "rejected") {
                list = currentBoard.lists[1];
            } else if ("{{row["status"]}}" == "accepted") {
                list = currentBoard.lists[2];
            } else if ("{{row["status"]}}" == "completed") {
                list = currentBoard.lists[3];
            }

            var innerHTML = `<div class="card-title"><h4 class='uk-margin-remove'>{{row.title}}</h4>
                             <div><span uk-icon="tag"></span>{{ row.category }}</div></div>
                             <div><span uk-icon="location"> </span>{{row.room}}</div>`
            card = addCardTrelloFromName(list, "{{row["title"]}}", innerHTML, {{row.issue_id}});

            {% endfor %}
        }
    </script>


    {% include 'template/backend-footer.html' %}

</body>
</html>